<!DOCTYPE html>
<html>
<head>
    <title>Fitness Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Welcome to Fitness Hub</h1>
    <button onclick="document.getElementById('options').style.display='block'">Get Started</button>

    <div id="options" class="hidden">
        <!-- <form action="/search-form">
            <button type="submit">Search Available Exercises</button>
        </form> -->
        <form action="/diet">
            <button type="submit">Generate Diet Plan</button>
        </form>
        <form action="/weekly-plan">
            <button type="submit">Weekly Exercise Plan</button>
        </form>
    </div>

    <script>
        document.querySelector('button').addEventListener('click', function () {
            document.getElementById('options').classList.remove('hidden');
        });
    </script>
</body>
</html>
